/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navbar-brand {
  float: left;
  font-size: 18px;
  height: 50px;
  line-height: 20px;
  padding: 5px 0px; }

.navbar {
  border: none;
  margin-bottom: 0px;
  min-height: 50px;
  position: relative; }

.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #fff 0, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
  background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  background: #f7f6f2; }

nav li a {
  font-size: 12px;
  font-weight: bold; }
  nav li a span:hover {
    border: 2px solid black;
    padding: 5px; }

#home #titulos {
  position: absolute;
  top: 50px; }
  #home #titulos .jumbotron {
    background: none;
    color: black;
    margin-bottom: 0px;
    font-family: 'Shrikhand', cursive;
    font-size: 90px;
    text-align: center;
    margin-top: 50px;
    padding: 0px; }
    #home #titulos .jumbotron .titulo-color {
      color: #eb768c; }
  #home #titulos p {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 10px; }
  #home #titulos #botonera-home {
    text-align: center;
    margin: 25px; }
    #home #titulos #botonera-home a {
      border: 1px solid black;
      border-radius: 20px;
      color: black;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      text-decoration: none;
      margin: 0px 15px;
      padding: 5px 10px; }
      #home #titulos #botonera-home a:hover {
        background: #eb768c;
        border: 1px solid #eb768c;
        color: white; }

#hello {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-family: "Open Sans", sans-serif; }
  #hello h2 {
    margin-top: 75px;
    margin-bottom: 30px;
    font-size: 25px; }
  #hello p {
    font-size: 12px;
    color: #4a4a4a;
    line-height: 22px;
    padding: 0px 200px;
    margin-bottom: 75px; }

#HUCD {
  background: #f9f9f9;
  text-align: center;
  font-family: "Open Sans", sans-serif; }
  #HUCD h2 {
    margin-top: 75px;
    margin-bottom: 30px;
    font-size: 25px; }
  #HUCD #copete {
    font-size: 12px;
    color: #4a4a4a;
    padding: 0px 200px;
    margin-bottom: 50px; }
  #HUCD .img-thumbnail, #HUCD .thumbnail {
    -webkit-box-shadow: none;
    box-shadow: none; }
  #HUCD .thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: none;
    border-radius: none;
    /* -webkit-transition: border .2s ease-in-out; */
    /*-o-transition: border .2s ease-in-out;*/
    /* transition: border .2s ease-in-out; */ }
    #HUCD .thumbnail h3 {
      color: black;
      font-size: 12px;
      font-weight: bold;
      padding: 10px 0px; }
    #HUCD .thumbnail .copete-thumb {
      color: #4a4a4a;
      font-size: 12px;
      padding-bottom: 25px; }
    #HUCD .thumbnail a {
      background: #31aae2;
      color: white;
      font-size: 10px;
      font-family: "Open Sans", sans-serif;
      padding: 5px 15px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }

#pb {
  /************************/
  /* structure de la page */
  /************************/ }
  #pb .ProgressBar,
  #pb .ProgressBar-contentCircle {
    height: 200px;
    width: 200px; }
  #pb .ProgressBar-circle,
  #pb .ProgressBar-background {
    fill: none;
    stroke: #31aae2;
    stroke-width: 10;
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    z-index: 10; }
  #pb .ProgressBar-background {
    stroke: white;
    stroke-width: 9;
    z-index: 0; }
  #pb .ProgressBar-percentage {
    color: #31aae2;
    font-size: 40px;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    horizontal-align: middle; }
  #pb .Content {
    height: 270px;
    margin: 30px 0px;
    width: 100%; }
  #pb .List {
    list-style: none;
    padding: 0px;
    width: 100%;
    height: 200px;
    text-align: center; }
  #pb .List-item {
    display: inline-block;
    margin: 0px 50px;
    width: 200px; }

body {
  font-family: "Open Sans", sans-serif; }

.container-fluid {
  padding: 0px; }

/*# sourceMappingURL=style.css.map */
