#home{
	height: 100%;

	.titulo-home{
		position: absolute;
		top: 40px;
		.jumbotron{
			background: none;
			margin-bottom: 0px;
			font-family: 'Shrikhand', cursive;
			font-size: 40px;
			text-align: center;
		}
	
	}
}