@mixin titulos-secciones{
	text-align: center;
	font-family: $fuente-ppal;
	h2{
		margin-top: 75px;
		margin-bottom: 30px;
		font-size: 25px;
	}
}

#home{

	#titulos{
		position: absolute;
		top: 50px;
		.jumbotron{
			background: none;
			color: $color-titulos;
		    margin-bottom: 0px;
		    font-family: 'Shrikhand', cursive;
		    font-size: 90px;
		    text-align: center;
		    margin-top: 50px;
		    padding: 0px;
		    .titulo-color{
		    	color: $color-header;
		    }
		}
		p{
			font-family: $fuente-ppal;
			font-weight: bold;
			text-align: center;
			margin-top: 10px;
		}
		#botonera-home{
			text-align: center;
			margin: 25px;
			a{
				border: 1px solid black;
				border-radius: 20px;
				color: $color-titulos;
				font-size: 14px;
				font-family: $fuente-ppal;
				text-decoration: none;
				margin: 0px 15px;
				padding: 5px 10px;
				&:hover{
					background: $color-header;
					border: 1px solid $color-header;
					color: white;
				}
			}
		}
	}
}

#hello{
	text-align: center;
	font-family: $fuente-ppal;
	@include titulos-secciones;
	p{
		font-size: 12px;
		color: $color-parrafos;
		line-height: 22px;
		padding: 0px 200px;
		margin-bottom: 75px;
	}
}

#HUCD{
	background: $color-fondo;
	@include titulos-secciones;
	#copete{
		font-size: 12px;
		color: $color-parrafos;
		padding: 0px 200px;
		margin-bottom: 50px;
	}

	.img-thumbnail, .thumbnail {
	    -webkit-box-shadow: none;//0 1px 2px rgba(0,0,0,.075);
	    box-shadow: none; //0 1px 2px rgba(0,0,0,.075);
	}	
	.thumbnail {
	    display: block;
	    padding: 4px;
	    margin-bottom: 20px;
	    line-height: 1.42857143;
	    background-color: transparent;
	    border: none;
	    border-radius: none;
	    /* -webkit-transition: border .2s ease-in-out; */
	    /*-o-transition: border .2s ease-in-out;*/
	    /* transition: border .2s ease-in-out; */
	    h3{
	    	color: black;
	    	font-size: 12px;
	    	font-weight: bold;
	    	padding: 10px 0px;
	    }
	    .copete-thumb{
	    	color: $color-parrafos;
	    	font-size: 12px;
	    	padding-bottom: 25px;
	    }
    	a{
    		background: $color-ppal;
    		color: white;
    		font-size: 10px;
    		font-family: $fuente-ppal;
    		padding: 5px 15px;
    		text-align: center;
    		text-decoration: none;
    		text-transform: uppercase;
    	}

	}

}

#pb{
	$primaryColor : #D00463;
	$secondaryColor : #389ba6;
	$mainColor : #D00463;
	$sizeContent : 200px;
	$strokeWidth : 10;
	$strokeLineCap : round;

	.ProgressBar,
	.ProgressBar-contentCircle{
	    height: $sizeContent;
	    width: $sizeContent;
	}
	.ProgressBar-circle,
	.ProgressBar-background{
	    //animation: progress 1s;
	    fill: none; // background color
	    stroke: $color-ppal; // path color
	    stroke-width: $strokeWidth; // path size
	    //stroke-linecap: $strokeLineCap;
	    stroke-dasharray: 0; // circonférence du cercle
	    stroke-dashoffset: 0; // longeur du cercle
	    z-index: 10;
	}
	.ProgressBar-background{
	    stroke: white; // path color
	  	stroke-width: $strokeWidth - 1;
	    z-index: 0;
	}
	.ProgressBar-percentage{
	  	color: $color-ppal;
	  	font-size: 40px;
	  	text-align: center;
	  	width: 100%;
	  	vertical-align: middle;
	  	horizontal-align: middle;
	}

	/************************/
	/* structure de la page */
	/************************/
	.Content{
		height: 270px;
		margin: 30px 0px;
		width: 100%;
	}
	
	.List{
	  	list-style: none;
	  	padding: 0px;
	  	width: 100%;
		height: $sizeContent;
		text-align: center;
	}

	.List-item{
		display: inline-block;
		margin: 0px 50px;
	  	width: $sizeContent;
	}
}