#home{

	#titulos{
		position: absolute;
		top: 50px;
		.jumbotron{
			background: none;
			color: $color-titulos;
		    margin-bottom: 0px;
		    font-family: 'Shrikhand', cursive;
		    font-size: 90px;
		    text-align: center;
		    margin-top: 50px;
		    padding: 0px;
		    .titulo-color{
		    	color: $color-header;
		    }
		}
		p{
			font-family: $fuente-ppal;
			font-weight: bold;
			text-align: center;
			margin-top: 10px;
		}
		#botonera-home{
			text-align: center;
			margin: 25px;
			a{
				border: 1px solid black;
				border-radius: 20px;
				color: $color-titulos;
				font-size: 14px;
				font-family: $fuente-ppal;
				text-decoration: none;
				margin: 0px 15px;
				padding: 5px 10px;
				&:hover{
					background: $color-header;
					border: 1px solid $color-header;
					color: white;
				}
			}
		}
	}
}

#hello{
	text-align: center;
	font-family: $fuente-ppal;
	@include titulos-secciones;
	p{
		font-size: 12px;
		color: $color-parrafos;
		line-height: 22px;
		padding: 0px 200px;
		margin-bottom: 75px;
	}
}

#HUCD{
	background: $color-fondo;
	@include titulos-secciones;
	#copete{
		font-size: 12px;
		color: $color-parrafos;
		padding: 0px 200px;
		margin-bottom: 50px;
	}

	.img-thumbnail, .thumbnail {
	    -webkit-box-shadow: none;//0 1px 2px rgba(0,0,0,.075);
	    box-shadow: none; //0 1px 2px rgba(0,0,0,.075);
	}	
	.thumbnail {
	    display: block;
	    padding: 4px;
	    margin-bottom: 20px;
	    line-height: 1.42857143;
	    background-color: transparent;
	    border: none;
	    border-radius: none;
	    /* -webkit-transition: border .2s ease-in-out; */
	    /*-o-transition: border .2s ease-in-out;*/
	    /* transition: border .2s ease-in-out; */
	    h3{
	    	color: black;
	    	font-size: 12px;
	    	font-weight: bold;
	    	padding: 10px 0px;
	    }
	    .copete-thumb{
	    	color: $color-parrafos;
	    	font-size: 12px;
	    	padding-bottom: 25px;
	    }
    	a{
    		background: $color-ppal;
    		color: white;
    		font-size: 12px;
    		font-family: $fuente-ppal;
    		padding: 5px 25px;
    		text-align: center;
    		text-decoration: none;
    		text-transform: uppercase;
    	}

	}

}

#portshowcase{
	text-align: center;
	
	h2{
		@include misc("", $color-ppal, 10px, 10px, 10px);
		margin-top: 50px;	
		font-size: 25px;	
	}
	
	.lineamisc{
		@include misc-lineas(15px, 15px, 5px);
		@include linea(-5px);
	}
	
	.slideshow-margin{
		margin: 30px 0px 0px 0px;
	}
	.slideshow{
		height: 500px;
		padding: 0px;
		margin: 0px;
		background: $color-ppal;
		&:hover{
			background: black;
		}
	}
	
	.slide-neg{
		background: black;
		&:hover{
			background: $color-ppal;
		}
	}

	.title-show{
		background: lightgray;
		position: relative;
		top: 400px;
		font-family: $fuente-ppal;
		span{
			display: block;
			padding: 5px 0px;
		}
		.title{
			font-size: 12px;
			font-weight: bold;
		}
		.subtitle{
			font-size: 10px;			
		}
	}
}


#purchasenow{
	background: #73c8b7;
	font-family: $fuente-ppal;
	padding: 25px 0px;
	color: white;
	h2{
		display: inline-block;
		font-size: 16px;
	}
	a{
		color: white;
		font-size: 12px;
		border: 1px solid white;
		padding: 5px 20px;
		float: right;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			background: white;
			color: #73c8b7;
			font-weight: 700;
		}
	}
}

#popularnews{
	background: $color-fondo;
	text-align: center;
	font-family: $fuente-ppal;
	
	h2{
		@include misc("", $color-ppal, 10px, 10px, 10px);
		margin-top: 50px;		
		font-size: 25px;
	}
	
	.lineamisc{
		@include misc-lineas(15px, 15px, 5px);
		@include linea(-5px);
	}

	.img-thumbnail, .thumbnail {
    	-webkit-box-shadow: none; //0 1px 2px rgba(0,0,0,.075);
    	box-shadow: none; //0 1px 2px rgba(0,0,0,.075);
	}

	.thumbnail {
    	display: block;
    	padding: 0px;
    	margin-bottom: 20px;
    	line-height: 1.42857143;
    	background-color: #fff;
    	border: none;
    	border-radius: 0px;
    	text-align: left;
    	/* -webkit-transition: border .2s ease-in-out; */
    	/*-o-transition: border .2s ease-in-out;*/
    	/* transition: border .2s ease-in-out; */
		.caption{
			padding: 9px 15px;
		}
		h3{
			color: $color-titulos;
			font-size: 14px;
			font-weight: 700;
		}
		.breadcrumb {
    		background: none;
    		border-radius: 0px;
			color: $color-parrafos;
			font-size: 12px;
			font-weight: 300;
			list-style: none;
    		margin-bottom: 20px;
    		padding: 5px 0px;
    		text-transform: uppercase;
    	}
    	.copete-thumb{
    		font-size: 12px;
    		font-weight: 400;
    		color: $color-parrafos;
    		line-height: 24px;
    		margin: 10px 0px;
    	}
    	a{
    		color: $color-parrafos;
    		font-size: 12px;
    		font-weight: 400;
    		text-decoration: none;
    		&:hover{
    			color: $color-ppal;
    			font-weight: 700;
    		}
    	}
	}
}

#head-features{
	h2{
		@include misc("", white, 20px, 20px, 10px);
		margin-top: 70px;
		font-size: 25px;
	}
}
#features-body{
	background-image: url(../imgs/b_6feature_back.png);
	background-size: cover;
	text-align: left;
	padding-top: 70px;
	.separacion{
		margin: 50px 0px;
	}
	h4{ 
		color: white;
		font-family: $fuente-ppal;
		margin: 15px 0px;
	}
	p{ 
		color:white;
		font-family: $fuente-ppal;
		font-size: 12px;
		line-height: 14px;
		padding-right: 20px;
	}
	span{ 
		@include ico-features;
		&:hover{
			background-color: $color-ppal;
			border: 2px solid $color-ppal;
		}
	}
	height: 515px;
	.elemento-feature{
		div{
			display: inline-block;
			width: 15%;
			vertical-align: middle;
		}
		article{
			display: inline-block;
			width: 80%;
			vertical-align: middle;
		}
	}
}